<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleExecutable</key>
		<string>macos-file-summoner</string>
		<key>CFBundleIconFile</key>
		<string>icon.icns</string>
		<key>CFBundleIdentifier</key>
		<string>dev.bjesuiter.macos-file-summoner</string>
		<key>CFBundleDisplayName</key>
		<string>File Summoner</string>
		<key>NSHighResolutionCapable</key>
		<true/>
		<key>LSUIElement</key>
		<true/>
		<key>CFBundleVersion</key>
		<string>1.2.4</string>
		<key>CFBundleShortVersionString</key>
		<string>1.2.4</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2025 Benjamin Jesuiter. All rights reserved.</string>
	</dict>
</plist>