name: Go Build & Release

permissions:
  actions: "write"

on:
  # How to configure:
  # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestbranchestags
  push:
    # Sequence of patterns matched against refs/branches
    # Run ci pipeline for all branches except master
    branches:
      - "*"
      - "!master"
    tags:
      # runs this pipeline for all new tags for deployment
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
env:
  MACOS_APP_ARTIFACT: "File Summoner.app"
  DIST_DIR: "dist"
  MACOS_DMG_ARTIFACT_ID: "file-summoner-dmg-artifact"
  IS_CI: "true"

jobs:
  prepare:
    name: Prepare Environment
    runs-on: ubuntu-latest
    # Outputs accessible to other jobs by:
    # needs: ['prepare']
    # ${{needs.prepare.outputs.variable}}, where variable is one of the outputs defined below
    outputs:
      # Env var name: BRANCH_OR_TAG_NAME
      branchOrTagName: ${{steps.setBranchOrTagName.outputs.value}}
      # Env var name: APP_VERSION
      appVersion: ${{steps.setAppVersion.outputs.value}}
      # Evn var name: MACOS_APP_ZIP
      macosAppZip: ${{steps.setMacosAppZip.outputs.value}}
    steps:
      - uses: actions/checkout@v4

      - name: Extract branch name or tag name from GITHUB_REF
        id: setBranchOrTagName
        run: echo "value=$(echo ${GITHUB_REF} | cut -d / -f 3)" >> $GITHUB_OUTPUT

      - name: Extract app version from 'version' file
        id: setAppVersion
        run: echo "value=$(cat ./version)" >> $GITHUB_OUTPUT

      - name: Generate zip name for macos deploy zip
        id: setMacosAppZip
        run: echo "value=$(echo ${MACOS_APP_ARTIFACT}-${{steps.setAppVersion.outputs.value}}.zip)" >> $GITHUB_OUTPUT

      - name: Show content of github.ref (for debugging purposes of github ref and defined environment at this point)
        run: echo "github.ref ${{github.ref}}"

  build:
    name: Build, Sign & Notarize App
    needs: [prepare]
    runs-on: macOS-latest
    env:
      MACOS_APP_ZIP: ${{needs.prepare.outputs.macosAppZip}}

    steps:
      - uses: actions/checkout@v4

      - run: xcrun notarytool

      # Install notarization dependencies
      - run: npm install --global json

      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build Binary & macOS App
        run: ./scripts/01-build.sh

      ### --Sign Application-- ###
      # import apple code signing certificate - encode with 'base64 -i <in-file>' - prints base64 of file into command line
      - uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_ID_CERT_P12 }}
          p12-password: ${{ secrets.APPLE_DEVELOPER_ID_CERT_PASSWD }}

      - name: Sign macOS app with codesign tool
        run: ./scripts/02-sign.sh
        env:
          APPLE_DEVELOPER_ID_CODE: ${{secrets.APPLE_DEVELOPER_ID_CODE}}

      ### --Notarize Application --##
      # To re-enable: Requires active Apple Developer subscription and configured secrets
      # See: https://developer.apple.com/documentation/technotes/tn3147-migrating-to-the-latest-notarization-tool
      # - name: Notarize App with apples notarytool
      #   run: ./scripts/03-notarize.sh
      #   env:
      #     APPLE_DEVELOPER_ID_NAME: ${{secrets.APPLE_DEVELOPER_ID_NAME}}
      #     APPLE_ACCOUNT_APP_PASSWORD: ${{secrets.APPLE_ACCOUNT_APP_PASSWORD}}
      #     APPLE_TEAM_ID: ${{secrets.APPLE_TEAM_ID}}

      # FOR DEBUGGING
      # - name: Early exit
      #   run: |
      #     gh run cancel ${{ github.run_id }}
      #     gh run watch ${{ github.run_id }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      ### --Validate Signature: old altool variant, needs update to notarizing tool --###
      # - name: Validate App Signature
      #   run: ./scripts/04-check-app-signature.sh

      - name: Check & Fix execute permission (To be sure file is executable after build)
        run: ./scripts/helpers/fix-execute-flag.sh "${DIST_DIR}/${MACOS_APP_ARTIFACT}/Contents/MacOS/macos-file-summoner"

      ### --Store App Artifact--###
      - name: Store dist folder with macOS App as Github Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.DIST_DIR}}"
          path: "${{ env.DIST_DIR }}"

  package:
    name: Create DMG
    # Using this env var fails for syntactical reasons of github actions
    if: ${{vars.DMG_DELIVERY == true}}
    # use if: false to disable job temporarily
    # if: false
    needs: [prepare, build]
    # already installed software on macos-latest worker node:
    # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-arm64-Readme.md
    # Interesting for this workflow:
    # - homebrew
    # - node
    runs-on: macOS-latest
    env:
      MACOS_APP_ZIP: ${{needs.prepare.outputs.macosAppZip}}
      APP_VERSION: ${{needs.prepare.outputs.appVersion}}
      BRANCH_OR_TAG_NAME: ${{needs.prepare.outputs.branchOrTagName}}

    steps:
      - uses: actions/checkout@v4

      ###--Download macOS App Artifact--###
      - name: Download macOS App Artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{ env.DIST_DIR }}"

      ###--Check & Fix Execute Flag of app binary--###
      - name: Check & Fix execute permission (to be sure that the app is executable after storing in github artifacts)
        run: ./scripts/helpers/fix-execute-flag.sh "${DIST_DIR}/${MACOS_APP_ARTIFACT}/Contents/MacOS/macos-file-summoner"

      ###--Restore Node Modules Cache, if available--###
      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{env.BRANCH_OR_TAG_NAME}}-${{runner.os}}-${{ env.cache-name }}
          restore-keys: |
            master-${{ runner.os }}-${{ env.cache-name }}

      ###--Restore Homebrew Cache, if available--###
      - name: Get Homebrew cache dir
        id: homebrew_cache_dir
        run: echo "path=$(brew --cache)" >> $GITHUB_OUTPUT

      - name: Cache homebrew modules
        uses: actions/cache@v4
        env:
          cache-name: cache-homebrew-modules
        with:
          path: ${{ steps.homebrew_cache_dir.outputs.path }}
          key: ${{env.BRANCH_OR_TAG_NAME}}-${{runner.os}}-${{ env.cache-name }}
          restore-keys: |
            master-${{ runner.os }}-${{ env.cache-name }}

      ###--Install Dependencies--###
      # The json package is used for notarization, create-dmg util is obvious
      - run: npm install --global create-dmg json
      # These brew packages improve the image generated for the dmg & gon is used in notarization
      - run: brew install graphicsmagick imagemagick

      ###--Package & Notarize DMG--###
      # This action needs a github secret called MACOS_DEVELOPER_ID
      # which contains a certificate identifier for a signing certificate in the macos keystore,
      # like 'Developer ID Application: Benjamin Jesuiter (BB38WRH6VJ)'

      # import apple code signing certificate - encode with 'base64 -i <in-file>' - prints base64 of file into command line
      - uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.APPLE_DEVELOPER_ID_CERT_P12 }}
          p12-password: ${{ secrets.APPLE_DEVELOPER_ID_CERT_PASSWD }}

      - name: Package DMG with sindresorhus create-dmg
        run: ./scripts/package-dmg.sh
        env:
          APPLE_DEVELOPER_ID_NAME: ${{secrets.APPLE_DEVELOPER_ID_NAME}}

      # - name: Notarize DMG with gon-cli
      #   run: ./scripts/notarize-dmg.sh
      #   env:
      #     APPLE_ACCOUNT_APP_PASSWORD: ${{secrets.APPLE_ACCOUNT_APP_PASSWORD}}

      - name: Store macOS DMG as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.MACOS_DMG_ARTIFACT_ID }}"
          path: "*.dmg"

  deploy-dmg:
    name: Deploy Release with DMG
    needs: [prepare, package]
    # can't use env. in this if statement right now
    if: startsWith(github.ref, 'refs/tags') && ${{vars.DMG_DELIVERY}}
    # if: startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    env:
      MACOS_DMG_ARTIFACT_NAME: "<will be set in deploy-dmg job>"
      APP_VERSION: ${{needs.prepare.outputs.appVersion}}
      BRANCH_OR_TAG_NAME: ${{needs.prepare.outputs.branchOrTagName}}

    steps:
      ### --Download macOS DMG Artifact-- ###
      - name: Download macOS DMG Artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{ env.MACOS_DMG_ARTIFACT_ID }}"

      - name: Extract DMG Release Asset Name
        run: cd ${{ env.MACOS_DMG_ARTIFACT_ID }} && echo ::set-env name=MACOS_DMG_ARTIFACT_NAME::$(ls | grep *.dmg)

      - name: Create Release and Upload DMG
        uses: softprops/action-gh-release@v2
        with:
          files: ./${{ env.MACOS_DMG_ARTIFACT_ID }}/${{ env.MACOS_DMG_ARTIFACT_NAME }}
          name: File Summoner ${{ env.APP_VERSION }}
          draft: true
          body: |
            ### Changes
            TODO: Copy from Readme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-zip:
    # PROBLEM WITH ZIP DEPLOYMENT: Chrome may think it's malware! :(
    name: Deploy Release with Zip
    # if: startsWith(github.ref, 'refs/tags') && ! ${{env.DMG_DELIVERY}}
    # change 'build' in the next statement to 'package' as soon as dmg delivery works
    needs: [prepare, build]
    runs-on: macOS-latest
    env:
      MACOS_APP_ZIP: ${{needs.prepare.outputs.macosAppZip}}
      APP_VERSION: ${{needs.prepare.outputs.appVersion}}
      BRANCH_OR_TAG_NAME: ${{needs.prepare.outputs.branchOrTagName}}

    steps:
      ###--Download macOS App Artifact--###
      - name: Download macOS App Artifact
        uses: actions/download-artifact@v4
        with:
          name: "${{ env.DIST_DIR }}"

      - name: Check & Fix execute permission (to be sure that the app is executable after storing in github artifacts)
        run: ./scripts/helpers/fix-execute-flag.sh "${DIST_DIR}/${MACOS_APP_ARTIFACT}/Contents/MacOS/macos-file-summoner"

      - run: echo "Zip App for notarization as ./${MACOS_APP_ZIP}"
      - run: ditto -c -k --rsrc --keepParent "${DIST_DIR}/${MACOS_APP_ARTIFACT}" "${MACOS_APP_ZIP}"

      - name: Create Release and Upload Zip
        uses: softprops/action-gh-release@v2
        with:
          files: ./${{ env.MACOS_APP_ZIP }}
          name: Release ${{ env.BRANCH_OR_TAG_NAME }}
          draft: true
          body: |
            #### Changes in this Release
            TODO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
